# Supabase - Acesse o seu projeto em https://supabase.com para pegar estas chaves
NEXT_PUBLIC_SUPABASE_URL=https://pifizttaesnxhjjgrgea.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpZml6dHRhZXNueGhqamdyZ2VhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxMzMzNDgsImV4cCI6MjA5ODcwOTM0OH0.e6N3Fz5pfv0ydKN2cjDEAfBhF2Qi_hbqKWlLIQXH6OU

# UAZAPI - Credenciais da API não oficial do WhatsApp
UAZAPI_BASE_URL=https://fluxiabr.uazapi.com
UAZAPI_GLOBAL_API_KEY=3EgvyAMAwgTbki9n6gVHhWJzN3J2YQELoMJF3jG5gtPLq8TBrz

OPENAI_API_KEY=sua_chave_da_openai_aqui

MERCADOPAGO_GLOBAL_ACCESS_TOKEN=APP_USR-sua-chave-aqui

# URL Pública para Webhooks (Pinggy)
NEXT_PUBLIC_APP_URL=

# Mercado Pago OAuth (Marketplace)
NEXT_PUBLIC_MP_CLIENT_ID=4120821311917741
MP_CLIENT_SECRET=
NEXT_PUBLIC_MP_REDIRECT_URI=http://localhost:3000/api/mp/callback
